.carousel {
  position: relative;
  width: 100%;
  min-height: 400px;
}
.carousel img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.carousel .carousel-item {
  position: relative;
  width: 100%;
  align-self: center;
  justify-content: center;
}
.carousel .carousel-caption {
  margin-bottom: 10rem;
}
.carousel .carousel-caption h1 {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 5px 2px 3px #171717;
  font-size: 45px;
  font-weight: 700;
  justify-content: center;
}
.carousel .carousel-caption button {
  position: relative;
  margin-top: 1rem;
  padding: 0.8rem 3.8rem;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #009cff;
  border-color: #009cff;
  transition: 0.5s all;
}
.carousel .carousel-caption button:hover {
  background-color: rgb(13, 92, 182);
}
