.book-item {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 1.5rem;
  transition: 0.1s all ease;
}
.book-item .book-image {
  position: relative;
}
.book-image img {
  width: 170px;
  height: 200px;
}
.book-item .book-title {
  transition: all 0.3s;
  text-align: center;
  margin-top: 0.9rem;
}
.book-item .book-title h5 {
  color: #171717;
  text-align: center;
  align-items: center;
  font-size: 0.9rem;
  justify-content: center;
}
.book-item .book-image {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-item .book-image a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #171717;
}
.book-item .book-image .book-action {
  margin-top: 0.8rem;
}
.book-item .book-image .book-action a {
  padding: 0.8rem;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  padding: 7px 0 10px 0;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: rgb(13, 92, 182);
  border: 1px solid #fff;
  border-radius: 4px;
  transition: all 0.3s;
}
.book-item .book-price {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
}
.book-item .book-price h3 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  padding: 0.2rem;
}
.book-item .book-price .btn {
  border: 1px solid #171717;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.book-item .book-price .btn:hover {
  background-color: rgb(239, 239, 239);
}
.hotdeal {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: center;
}
.hotdeal img {
  width: 120px;
}
.book-image .label-sale {
  background-color: #f7941e;
  color: white;
  font-weight: bold;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid #171717;
  top: 10px;
  right: 20px;
  margin-top: 0px !important;
  z-index: 1;
}
.old-price {
  text-decoration: line-through;
  font-size: 0.7rem;
}
