.banner {
  position: relative;
  width: 100%;
  margin-top: 0.8rem;
}
.banner .banner-item {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.banner .banner-item img:hover {
  opacity: 0.8;
}
.banner .banner-item img {
  width: 280px;
  height: 250px;
  border: 2px solid #fff;
}
@media (max-width: 992px) {
  .banner {
    display: none;
  }
}
