.web-development {
  position: relative;
  margin-top: 2rem;
}
.web-development .title {
  margin-bottom: 2rem;
  display: flex;
  justify-content: start;
  align-self: center;
  text-align: center;
  border-bottom: 2px solid #171717;
}
.web-development .title h2 {
  font-weight: 700;
}
