.books {
  position: relative;
  margin-top: 2rem;
}
.books .books-title {
  margin-bottom: 2rem;
  display: flex;
  justify-content: start;
  align-self: center;
  text-align: center;
  border-bottom: 2px solid #171717;
  background-color: #fff;
}
.books .books-title h2 {
  font-weight: 700;
}
