:root {
  --primary: #2a2a72;
}
.btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn--primary {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: #fff;
  border: var(--primary);
  border-radius: 25px;
}
.btn--primary a {
  color: #fff;
  text-decoration: none;
}
.btn--primary:hover {
  transform: scale(1.1);
}
.btn--outline {
  color: var(--primary);
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
  font-size: 0.9rem;
  font-weight: 600;
}
.btn--outline :hover {
  border: 4px solid var(--primary);
  transition: all 0.3s ease-out;
}
.btn--medium {
  padding: 8px 30px;
  font-size: 20px;
}
.btn--large {
  padding: 12px 20px;
  font-size: 20px;
}
.btn--medium:hover,
.btn--large:hover {
  background-color: #007bff;
  color: #fff;
  transition: all 0.3s ease-out;
}
