.flash-sale {
  position: relative;
  margin-top: 1rem;
  background-color: #fff;
}
.flash-sale .section-header h1 span {
  color: #171717;
  font-weight: normal;
  font-size: 1rem;
}
.flash-sale .section-header h1 span::before {
  content: "";
  border-left: 2px solid #171717;
  margin: 0 1rem;
}
.time-current-sale {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  color: #171717;
  font-weight: 700;
  margin-bottom: 0;
}
.time-current-sale .time-sale-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
.time-current-sale .time-sale-item p {
  font-size: 1rem;
  font-weight: normal;
}
.time-current-sale .active {
  color: red;
}
